<!DOCTYPE html>
<html>
<head>
  <% if (web) { %>
  <#include "./common/headElements.ftl" />
  <% } else { %>
  <$include src="../common/headElements.html" />
  <% } %>
</head>
<body>
  <% if (web) { %>
  <#include "./common/resourceElements.ftl" />
  <% } else { %>
  <$include src="../common/resourceElements.html" />
  <% } %>
  <link href="/resources/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
  <% if (web) { %>
  $screen_content
  <#include "./common/bottomElements.ftl" />
  <% } else { %>
  {{% body %}}
  <$include src="../common/bottomElements.html" />
  <% } %>
  <script src="/resources/app/common.js?ver=<%=ver%>"></script>
  <script src="/resources/app/pages/<% if (web) { %>$!{page}<% } else { %>{% page %}<% } %>container.js?ver=<%=ver%>"></script>
</body>
</html>